.header {
  width: 100%;
  padding: 0px 59px;
  margin-bottom: 8px;
  background-color: rgb(5, 71, 125);
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #6784c3;
  height: 130px;
  font-size: 20px;
  font-weight: 400;
  @media only screen and (max-width: 600px) {
    width: 1100px;
    /* Adjust the padding for small screens */
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
  }

  .user {
    display: flex;
    align-items: center;
    font-weight: bold;

    .user-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      background-color: rgb(11, 107, 185);
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }

  .company-name {
    /* Default styles */
    /* margin: 10px; */
    display: flex;
    text-align: center;
    font-size: 60px;
    font-family: "Zen_Tokyo_Zoo", "BeauRivage_Regular",
      "Alumni_Sans_Collegiate_One", "arial", sans-serif;
    @media only screen and (max-width: 600px) {
      font-size: large;
    }
  }
}
.company-name-e {
  text-align: center;
  font-size: 90px;
  font-family: "BeauRivage_Regular", "Alumni_Sans_Collegiate_One", "arial",
    sans-serif;

  @media only screen and (max-width: 600px) {
    font-size: large;
  }
  .volution {
    font-family: "Alumni_Sans_Collegiate_One", "arial", sans-serif;
    font-size: 90px;
    letter-spacing: 5px;
  }
  .t {
    font-family: "arial", sans-serif;
    font-size: 90px;
    /* padding-bottom: 40px; */
  }
}

.login-text {
  margin-top: 60px;
}
.login-text:hover {
  cursor: pointer;
}
::ng-deep .p-button {
  background: transparent !important;
  border: transparent;
  margin-top: 0px;
  margin-left: 10px;
}

::ng-deep .p-menu {
  background-color: rgb(8, 107, 153);
  color: white !important;
  border: 1px;
  border-radius: var(--p-menu-border-radius);
  min-width: 12.5rem;
  margin-top: 25px;
}

::ng-deep .p-menu-item-icon {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 12px;
}
::ng-deep .p-menu-item-label {
  color: #ffffff;
  font-weight: 200;
  padding: 5px;
}

::ng-deep .p-menu-item-content:hover {
  background-color: #04515d !important; /* Blue hover */
}
.lougout-menu{
  margin-top: 60px;
}