
<!-- <div class="header-page">
    <app-header [isLoggedIn]="false"></app-header>
</div> -->


<div class="container">
  <div class="header">
      <app-header [isLoggedIn]="authService.loggedIn().status"></app-header>
  </div>
  <div class="main-container">
    <div class="side-nav" *ngIf="authService.loggedIn().status">
      <app-side-nav [isLoggedIn]="true"></app-side-nav>
    </div>
    <div class="main">
      <!-- <app-top-widgets ></app-top-widgets> -->
      <div class="top-section">
        <app-top-widgets *ngIf="authService.loggedIn().status"></app-top-widgets>
    </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>