@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css?family=Aboreto&family=Exo:wght@100,200");

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Aboreto&family=Exo:wght@100,200");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Exo", sans-serif;
    background-color: #d8d8d8;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: "Alumni_Sans_Collegiate_One";
  src: url("./assets/fonts/Alumni_Sans_Collegiate_One/AlumniSansCollegiateOne-Regular.ttf") format('truetype'); /* Adjust the path and format according to your font files */
  }

  @font-face {
    font-family: "BeauRivage_Regular";
    src: url("./assets/fonts/Beau_Rivage/Beau_Rivage/BeauRivage-Regular.ttf") format('truetype'); /* Adjust the path and format according to your font files */
    }

    @font-face {
      font-family: "Zen_Tokyo_Zoo";
      src: url("./assets/fonts/Zen_Tokyo_Zoo/ZenTokyoZoo-Regular.ttf") format('truetype'); /* Adjust the path and format according to your font files */
     }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
